@media (max-width: 1000px) {
    .product_name{
        font-size: 40px !important;

    }
}

@media (max-width: 900px) {
    .product_name{
        font-size: 40px !important;
    }
}

@media (max-width: 700px) {
    .product_name{
        text-align: center;
    }
}


/* contact*/
.map_area {
    margin-top: 100px !important;
}

.cons_contact_area_two .map {
    margin-bottom: 0 !important;
}

.map_dot .map_marker.one {
   display: none!important;
}
.map_dot .map_marker.three {
   display: none!important;
}


@media (max-width: 576px) {
    .map_dot .map_marker.two {
        top: -100px;
        left: 5px;
    }
}
@media (min-width: 576px) {
    .map_dot .map_marker.two {
        top: -130px;
        left: 20px;
    }
}


@media (min-width: 768px) {
    .map_dot .map_marker.two {
        top: -150px;
        left: 80px;
    }
}


@media (min-width: 992px) {
    .map_dot .map_marker.two {
        top: -180px;
        left: 150px;
    }
}


@media (min-width: 1200px) {
    .map_dot .map_marker.two {
        top: -250px;
        left: 250px;
    }
}

@media (min-width: 1360px) {
    .map_dot .map_marker.two {
        top: -230px;
        left: 140px;
    }
}

@media (min-width: 1680px) {
    .map_dot .map_marker.two {
        top: -260px;
        left: 200px;
    }
}

@media (min-width: 1920px) {
    .map_dot .map_marker.two {
        top: -300px;
        left: 110px;
    }
}



